.choice {
  padding: .5vw;
  margin: 0;
}

.choice:hover {
  cursor: pointer;
  border: 1px solid #DFE914;
  border-radius: 25px;
}

.selected {
  color: black;
  background-color: #DFE914;
  padding: .5vw;
  margin: 0;
  border: .25vw solid white;
  border-radius: 25px;
}

.question {
  margin-left: -2vw;
}
